<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bₑₜ ₚᵢₗₒₜ</title>
    <link rel="stylesheet" href="{% static 'core/css/login.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container" style="box-shadow: 0px 0px 20px #8b8b8b;">
        <div class="Form login-form">
            <h1 style="color:yellow;font-size:52px;">Bₑₜ ₚᵢₗₒₜ</h1>
            <h2>Register</h2>
        <form action="" method="POST">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <label for="#">Username</label>
                <input type="text" placeholder="Enter Your Username*" id="usernameid">
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope' ></i>
                <input type="password" placeholder="Enter Your Password*" id="passwordid1">
                <label for="#">Password</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope' ></i>
                <input type="password" placeholder="Enter Your Password*" id="passwordid2">
                <label for="#">Confirm Password</label>
            </div>
            <button type="button" class="btn" id="loginbtnid">Register</button>
        </form>
        <p class="RegisteBtn RegiBtn"><a href="{% url 'userlogin'%}">Login</a></p>
    </div>
    
</div>
<script src="{% static 'core/js/register.js'%}">
    
</script>
</body>
</html>